<style>
  .card {
    background: transparent;
    border: 0;
  }
  .card-divider {
    background: #429eff;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;
    color: #564e4e;
  }
</style>

<div class="row" id="students">
  <div class="card">
    <div class="card-divider text-center">
      <h2><b>Students</b></h2>
    </div>
    <div class="card-section">
      <div class="row">
        <div class="columns small-11 small-centered">
          <% Student.order(:SName).all.each do |student| %>
            <div class="columns small-12 medium-6 end" style="margin-bottom:15px">
              <div class="row valign-middle">
                <div class="columns small-4">
                  <img style="border-radius:100px;width:110px;height:110px; border-style:outset; border-width:5px; border-color:#6399ff;" src="<%= student.SPhotoS %>" />
                </div>
                <div class="columns small-8 ">
                  <h4 style="margin-bottom:1px;"><b><%= student.SName %></b></h4>
                  <%= student.SID %> <br>
                  HR: <%= Homeroom.find_by(:HID => student.HID).HNumber %>, <%= Teacher.find_by(:TID => Homeroom.find_by(:HID => student.HID).TID).TName %><br>
                  <div style="margin-top:7px;">
                    <a href="/students/<%= student.SID %>" class="success button">Show</a>
                    <a href="/students/edit/<%= student.SID %>" class="secondary button">Edit</a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="teachers">
  <div class="card">
    <div class="card-divider text-center">
      <h2><b>Teachers</b></h2>
    </div>
    <div class="card-section">
      <div class="row">
        <div class="columns small-11 small-centered">
          <% Teacher.order(:TName).all.each do |teacher| %>
            <div class="columns small-12 medium-6 end" style="margin-bottom:15px">
              <div class="row valign-middle">
                <div class="columns small-4">
                  <img style="border-radius:100px;width:110px;height:110px; border-style:outset; border-width:5px; border-color:#6399ff;" src="<%= "https://dummyimage.com/110/000/fff" unless teacher.TPhoto != "" %><%= teacher.TPhoto if teacher.TPhoto != "" %>" />
                </div>
                <div class="columns small-8 ">
                  <h4 style="margin-bottom:1px;"><b><a style="color:black;" href="mailto:<%= teacher.TEmail %>"><%= teacher.TName %></a></b></h4>
                  ID: <%= teacher.TID %><br>
                  <div style="margin-top:7px;">
                    <a href="/teachers/edit/<%= teacher.TID %>" class="secondary button">Edit</a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="homerooms">
  <div class="card">
    <div class="card-divider text-center">
      <h2><b>Homerooms</b></h2>
    </div>
    <div class="card-section">
      <div class="row">
        <div class="columns small-11 small-centered">
          <% Homeroom.order(:HNumber).all.each do |homeroom| %>
            <div class="columns small-12 medium-6 end" style="margin-bottom:15px">
              <div class="row valign-middle">
                <div class="columns small-4">
                  <img style="border-radius:100px;width:110px;height:110px; border-style:outset; border-width:5px; border-color:#6399ff;" src="<%= "https://dummyimage.com/110/000/fff" unless Teacher.find_by(:TID => homeroom.TID).TPhoto != "" %><%= Teacher.find_by(:TID => homeroom.TID).TPhoto if Teacher.find_by(:TID => homeroom.TID).TPhoto != "" %>" />
                </div>
                <div class="columns small-8 ">
                  <h4 style="margin-bottom:1px;">HR: <b><%= homeroom.HNumber %></b></h4>
                  Teacher: <a style="color:black;" href="mailto:<%= Teacher.find_by(:TID => homeroom.TID).TEmail %>"><%= Teacher.find_by(:TID => homeroom.TID).TName %></a><br>
                  ID: <%= homeroom.HID %><br>
                  <div style="margin-top:7px;">
                    <a href="/homerooms/edit/<%= homeroom.HID %>" class="secondary button">Edit</a>
                  </div>
                  
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="courses">
  <div class="card">
    <div class="card-divider text-center">
      <h2><b>Courses</b></h2>
    </div>
    <div class="card-section">
      <div class="row">
        <div class="columns small-11 small-centered">
          <% Course.order(:CName).all.each do |course| %>
            <div class="columns small-12 end" style="margin-bottom:15px">
              <div class="row valign-middle">
                <div class="columns small-4">
                  <img style="border-radius:100px;width:110px;height:110px;border-style:outset;border-width:4px; border-color:#6399ff;" src="<%= "https://dummyimage.com/110/000/fff" unless Teacher.find_by(:TID => course.TID).TPhoto != "" %><%= Teacher.find_by(:TID => course.TID).TPhoto if Teacher.find_by(:TID => course.TID).TPhoto != "" %>" />
                </div>
                <div class="columns">
                  <h4 style="margin-bottom:1px;word-wrap:break-word;"><b><%= course.CName %></b></h4>
                  Teacher: <a style="color:black;" href="mailto:<%= Teacher.find_by(:TID => course.TID).TEmail %>"><%= Teacher.find_by(:TID => course.TID).TName %></a><br>
                  ID: <%= course.CID %><br>
          
                  <div style="margin-top:7px;">
                    <a href="/courses/edit/<%= course.CID %>" class="secondary button">Edit</a>
                  </div>
                  
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
