<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RANGERControl" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      body {
        background: #f1f1f1;
      }
      .valign-middle {
          display: table;
      }
      
      .valign-middle .columns {
          display: table-cell;
          vertical-align: middle;
      }
      
      .valign-middle .columns,
      .valign-middle [class*="column"] + [class*="column"]:last-child {
          float: none;
      }
      /* navbar color */
      .top-bar, .top-bar ul {
      background-color: #4169e1;
      }
      /* link color */
      a {
        color: white;
      }
    </style>
  </head>

  <body>
    <% if true %>
      <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal menu" data-dropdown-menu>
          <li class="menu-text"style="font-weight:normal; color:#4169e1; background:white;"><strong>RANGERControl</strong></li>
          <!-- All -->
          <li><a href="/students">Students</a></li>
          <li><a href="/students/new">Create Student</a></li>
          <li><a href="/teachers/new">Create Teacher</a></li>
          <li><a href="/homerooms/new">Create Homeroom</a></li>
          <li><a href="/courses/new">Create Course</a></li>
          <!-- Students -->
          
          <!-- Admins -->
          
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal menu">
          <!-- If Logged In-->
          <!-- 'Name' -->
          
        </ul>
      </div>
    </div>
    <% end %>
    <br>
    <%= yield %>
  </body>
</html>